*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.json
*.suo
*.sqlite

/.vs/

/Debug/

*.vcxproj

*.sqlite

/.vs
/gitignore

*.slnx.sqlite

/.vs/slnx.sqlite

*.vcxproj

*.sln

/cssLab4/.vs/

*.gch

*.h.gch
itemcontainer.h.gch
.gitignore
lab4tester
.gitignore
item.h.gch
/newestlab4.vcxproj.filters
